<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <h1><%= link_to "MyFamalyFoto", posts_path, class:"navbar-brand" %></h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="<%= posts_path %>">Все посты</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Маленькие животные
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a href="/posts/cat" class="dropdown-item">Котики</a>
                    <a href="/posts/dogs" class="dropdown-item">Собачки</a>
                    <a href="/posts/hamsters" class="dropdown-item">Хомячки</a>
                    <a href="/posts/rabbits" class="dropdown-item">Кролики</a>
                    <a href="/posts/turtles" class="dropdown-item">Черепашки</a>
                </ul>
                <%# <%= select_tag "topic_id", options_from_collection_for_select(Topic.all, "id", "title"), class: "nav-link dropdown-toggle", id: "navbarDropdown" %> 
            </li>              
        </ul>
            <div>
                <%= link_to "+ Создать пост", new_post_path(@post), class: "btn btn-dark" %>               
                <button type="button" class="btn btn-primary">Войти</button>
                <button type="button" class="btn btn-outline-primary">Регистрация</button>
            </div>    
        </div>
    </div>
</nav>
<br>